extends layout

block content
    div(align="center")
        iframe(src='https://open.spotify.com/embed/playlist/#{spotId}', width = "450", height = "380", frameborder="0", allowtransparency="true", allow="encrypted-media")

